flake8 issues

These should be fixed to make the code easier to read/maintain and follow best practices
```
theHarvester/discovery/IPy.py:18:9: E241 multiple spaces after ':'
    '0':                'PUBLIC',   # fall back
        ^
theHarvester/discovery/IPy.py:19:16: E241 multiple spaces after ':'
    '00000000':         'PRIVATE',  # 0/8
               ^
theHarvester/discovery/IPy.py:20:16: E241 multiple spaces after ':'
    '00001010':         'PRIVATE',  # 10/8
               ^
theHarvester/discovery/IPy.py:21:18: E241 multiple spaces after ':'
    '0110010001':       'CARRIER_GRADE_NAT', #100.64/10
                 ^
theHarvester/discovery/IPy.py:21:45: E261 at least two spaces before inline comment
    '0110010001':       'CARRIER_GRADE_NAT', #100.64/10
                                            ^
theHarvester/discovery/IPy.py:21:46: E262 inline comment should start with '# '
    '0110010001':       'CARRIER_GRADE_NAT', #100.64/10
                                             ^
theHarvester/discovery/IPy.py:22:16: E241 multiple spaces after ':'
    '01111111':         'LOOPBACK', # 127.0/8
               ^
theHarvester/discovery/IPy.py:22:36: E261 at least two spaces before inline comment
    '01111111':         'LOOPBACK', # 127.0/8
                                   ^
theHarvester/discovery/IPy.py:23:9: E241 multiple spaces after ':'
    '1':                'PUBLIC',   # fall back
        ^
theHarvester/discovery/IPy.py:25:20: E241 multiple spaces after ':'
    '101011000001':     'PRIVATE',  # 172.16/12
                   ^
theHarvester/discovery/IPy.py:27:11: E241 multiple spaces after ':'
    '111':              'RESERVED', # 224/3
          ^
theHarvester/discovery/IPy.py:27:36: E261 at least two spaces before inline comment
    '111':              'RESERVED', # 224/3
                                   ^
theHarvester/discovery/IPy.py:28:5: E123 closing bracket does not match indentation of opening bracket's line
    }
    ^
theHarvester/discovery/IPy.py:35:52: E203 whitespace before ':'
    '00000000'                                      : 'RESERVED',               # ::/8
                                                   ^
theHarvester/discovery/IPy.py:36:52: E203 whitespace before ':'
    '0' * 96                                        : 'RESERVED',               # ::/96 Formerly IPV4COMP [RFC4291]
                                                   ^
theHarvester/discovery/IPy.py:37:52: E203 whitespace before ':'
    '0' * 128                                       : 'UNSPECIFIED',            # ::/128
                                                   ^
theHarvester/discovery/IPy.py:38:52: E203 whitespace before ':'
    '0' * 127 + '1'                                 : 'LOOPBACK',               # ::1/128
                                                   ^
theHarvester/discovery/IPy.py:39:52: E203 whitespace before ':'
    '0' * 80 + '1' * 16                             : 'IPV4MAP',                # ::ffff:0:0/96
                                                   ^
theHarvester/discovery/IPy.py:40:52: E203 whitespace before ':'
    '00000000011001001111111110011011' + '0' * 64   : 'WKP46TRANS',             # 0064:ff9b::/96 Well-Known-Prefix [RFC6052]
                                                   ^
theHarvester/discovery/IPy.py:41:52: E203 whitespace before ':'
    '00000001'                                      : 'UNASSIGNED',             # 0100::/8
                                                   ^
theHarvester/discovery/IPy.py:42:52: E203 whitespace before ':'
    '0000001'                                       : 'RESERVED',               # 0200::/7 Formerly NSAP [RFC4048]
                                                   ^
theHarvester/discovery/IPy.py:43:52: E203 whitespace before ':'
    '0000010'                                       : 'RESERVED',               # 0400::/7 Formerly IPX [RFC3513]
                                                   ^
theHarvester/discovery/IPy.py:44:52: E203 whitespace before ':'
    '0000011'                                       : 'RESERVED',               # 0600::/7
                                                   ^
theHarvester/discovery/IPy.py:45:52: E203 whitespace before ':'
    '00001'                                         : 'RESERVED',               # 0800::/5
                                                   ^
theHarvester/discovery/IPy.py:46:52: E203 whitespace before ':'
    '0001'                                          : 'RESERVED',               # 1000::/4
                                                   ^
theHarvester/discovery/IPy.py:47:52: E203 whitespace before ':'
    '001'                                           : 'GLOBAL-UNICAST',         # 2000::/3 [RFC4291]
                                                   ^
theHarvester/discovery/IPy.py:48:52: E203 whitespace before ':'
    '00100000000000010000000'                       : 'SPECIALPURPOSE',         # 2001::/23 [RFC4773]
                                                   ^
theHarvester/discovery/IPy.py:49:52: E203 whitespace before ':'
    '00100000000000010000000000000000'              : 'TEREDO',                 # 2001::/32 [RFC4380]
                                                   ^
theHarvester/discovery/IPy.py:50:52: E203 whitespace before ':'
    '00100000000000010000000000000010' + '0' * 16   : 'BMWG',                   # 2001:0002::/48 Benchmarking [RFC5180]
                                                   ^
theHarvester/discovery/IPy.py:51:52: E203 whitespace before ':'
    '0010000000000001000000000001'                  : 'ORCHID',                 # 2001:0010::/28 (Temp until 2014-03-21) [RFC4843]
                                                   ^
theHarvester/discovery/IPy.py:52:52: E203 whitespace before ':'
    '00100000000000010000001'                       : 'ALLOCATED APNIC',        # 2001:0200::/23
                                                   ^
theHarvester/discovery/IPy.py:53:52: E203 whitespace before ':'
    '00100000000000010000010'                       : 'ALLOCATED ARIN',         # 2001:0400::/23
                                                   ^
theHarvester/discovery/IPy.py:54:52: E203 whitespace before ':'
    '00100000000000010000011'                       : 'ALLOCATED RIPE NCC',     # 2001:0600::/23
                                                   ^
theHarvester/discovery/IPy.py:55:52: E203 whitespace before ':'
    '00100000000000010000100'                       : 'ALLOCATED RIPE NCC',     # 2001:0800::/23
                                                   ^
theHarvester/discovery/IPy.py:56:52: E203 whitespace before ':'
    '00100000000000010000101'                       : 'ALLOCATED RIPE NCC',     # 2001:0a00::/23
                                                   ^
theHarvester/discovery/IPy.py:57:52: E203 whitespace before ':'
    '00100000000000010000110'                       : 'ALLOCATED APNIC',        # 2001:0c00::/23
                                                   ^
theHarvester/discovery/IPy.py:58:52: E203 whitespace before ':'
    '00100000000000010000110110111000'              : 'DOCUMENTATION',          # 2001:0db8::/32 [RFC3849]
                                                   ^
theHarvester/discovery/IPy.py:59:52: E203 whitespace before ':'
    '00100000000000010000111'                       : 'ALLOCATED APNIC',        # 2001:0e00::/23
                                                   ^
theHarvester/discovery/IPy.py:60:52: E203 whitespace before ':'
    '00100000000000010001001'                       : 'ALLOCATED LACNIC',       # 2001:1200::/23
                                                   ^
theHarvester/discovery/IPy.py:61:52: E203 whitespace before ':'
    '00100000000000010001010'                       : 'ALLOCATED RIPE NCC',     # 2001:1400::/23
                                                   ^
theHarvester/discovery/IPy.py:62:52: E203 whitespace before ':'
    '00100000000000010001011'                       : 'ALLOCATED RIPE NCC',     # 2001:1600::/23
                                                   ^
theHarvester/discovery/IPy.py:63:52: E203 whitespace before ':'
    '00100000000000010001100'                       : 'ALLOCATED ARIN',         # 2001:1800::/23
                                                   ^
theHarvester/discovery/IPy.py:64:52: E203 whitespace before ':'
    '00100000000000010001101'                       : 'ALLOCATED RIPE NCC',     # 2001:1a00::/23
                                                   ^
theHarvester/discovery/IPy.py:65:52: E203 whitespace before ':'
    '0010000000000001000111'                        : 'ALLOCATED RIPE NCC',     # 2001:1c00::/22
                                                   ^
theHarvester/discovery/IPy.py:66:52: E203 whitespace before ':'
    '00100000000000010010'                          : 'ALLOCATED RIPE NCC',     # 2001:2000::/20
                                                   ^
theHarvester/discovery/IPy.py:67:52: E203 whitespace before ':'
    '001000000000000100110'                         : 'ALLOCATED RIPE NCC',     # 2001:3000::/21
                                                   ^
theHarvester/discovery/IPy.py:68:52: E203 whitespace before ':'
    '0010000000000001001110'                        : 'ALLOCATED RIPE NCC',     # 2001:3800::/22
                                                   ^
theHarvester/discovery/IPy.py:69:52: E203 whitespace before ':'
    '0010000000000001001111'                        : 'RESERVED',               # 2001:3c00::/22 Possible future allocation to RIPE NCC
                                                   ^
theHarvester/discovery/IPy.py:70:52: E203 whitespace before ':'
    '00100000000000010100000'                       : 'ALLOCATED RIPE NCC',     # 2001:4000::/23
                                                   ^
theHarvester/discovery/IPy.py:71:52: E203 whitespace before ':'
    '00100000000000010100001'                       : 'ALLOCATED AFRINIC',      # 2001:4200::/23
                                                   ^
theHarvester/discovery/IPy.py:72:52: E203 whitespace before ':'
    '00100000000000010100010'                       : 'ALLOCATED APNIC',        # 2001:4400::/23
                                                   ^
theHarvester/discovery/IPy.py:73:52: E203 whitespace before ':'
    '00100000000000010100011'                       : 'ALLOCATED RIPE NCC',     # 2001:4600::/23
                                                   ^
theHarvester/discovery/IPy.py:74:52: E203 whitespace before ':'
    '00100000000000010100100'                       : 'ALLOCATED ARIN',         # 2001:4800::/23
                                                   ^
theHarvester/discovery/IPy.py:75:52: E203 whitespace before ':'
    '00100000000000010100101'                       : 'ALLOCATED RIPE NCC',     # 2001:4a00::/23
                                                   ^
theHarvester/discovery/IPy.py:76:52: E203 whitespace before ':'
    '00100000000000010100110'                       : 'ALLOCATED RIPE NCC',     # 2001:4c00::/23
                                                   ^
theHarvester/discovery/IPy.py:77:52: E203 whitespace before ':'
    '00100000000000010101'                          : 'ALLOCATED RIPE NCC',     # 2001:5000::/20
                                                   ^
theHarvester/discovery/IPy.py:78:52: E203 whitespace before ':'
    '0010000000000001100'                           : 'ALLOCATED APNIC',        # 2001:8000::/19
                                                   ^
theHarvester/discovery/IPy.py:79:52: E203 whitespace before ':'
    '00100000000000011010'                          : 'ALLOCATED APNIC',        # 2001:a000::/20
                                                   ^
theHarvester/discovery/IPy.py:80:52: E203 whitespace before ':'
    '00100000000000011011'                          : 'ALLOCATED APNIC',        # 2001:b000::/20
                                                   ^
theHarvester/discovery/IPy.py:81:52: E203 whitespace before ':'
    '0010000000000010'                              : '6TO4',                   # 2002::/16 "6to4" [RFC3056]
                                                   ^
theHarvester/discovery/IPy.py:82:52: E203 whitespace before ':'
    '001000000000001100'                            : 'ALLOCATED RIPE NCC',     # 2003::/18
                                                   ^
theHarvester/discovery/IPy.py:83:52: E203 whitespace before ':'
    '001001000000'                                  : 'ALLOCATED APNIC',        # 2400::/12
                                                   ^
theHarvester/discovery/IPy.py:84:52: E203 whitespace before ':'
    '001001100000'                                  : 'ALLOCATED ARIN',         # 2600::/12
                                                   ^
theHarvester/discovery/IPy.py:85:52: E203 whitespace before ':'
    '00100110000100000000000'                       : 'ALLOCATED ARIN',         # 2610::/23
                                                   ^
theHarvester/discovery/IPy.py:86:52: E203 whitespace before ':'
    '00100110001000000000000'                       : 'ALLOCATED ARIN',         # 2620::/23
                                                   ^
theHarvester/discovery/IPy.py:87:52: E203 whitespace before ':'
    '001010000000'                                  : 'ALLOCATED LACNIC',       # 2800::/12
                                                   ^
theHarvester/discovery/IPy.py:88:52: E203 whitespace before ':'
    '001010100000'                                  : 'ALLOCATED RIPE NCC',     # 2a00::/12
                                                   ^
theHarvester/discovery/IPy.py:89:52: E203 whitespace before ':'
    '001011000000'                                  : 'ALLOCATED AFRINIC',      # 2c00::/12
                                                   ^
theHarvester/discovery/IPy.py:90:52: E203 whitespace before ':'
    '00101101'                                      : 'RESERVED',               # 2d00::/8
                                                   ^
theHarvester/discovery/IPy.py:91:52: E203 whitespace before ':'
    '0010111'                                       : 'RESERVED',               # 2e00::/7
                                                   ^
theHarvester/discovery/IPy.py:92:52: E203 whitespace before ':'
    '0011'                                          : 'RESERVED',               # 3000::/4
                                                   ^
theHarvester/discovery/IPy.py:93:52: E203 whitespace before ':'
    '010'                                           : 'RESERVED',               # 4000::/3
                                                   ^
theHarvester/discovery/IPy.py:94:52: E203 whitespace before ':'
    '011'                                           : 'RESERVED',               # 6000::/3
                                                   ^
theHarvester/discovery/IPy.py:95:52: E203 whitespace before ':'
    '100'                                           : 'RESERVED',               # 8000::/3
                                                   ^
theHarvester/discovery/IPy.py:96:52: E203 whitespace before ':'
    '101'                                           : 'RESERVED',               # a000::/3
                                                   ^
theHarvester/discovery/IPy.py:97:52: E203 whitespace before ':'
    '110'                                           : 'RESERVED',               # c000::/3
                                                   ^
theHarvester/discovery/IPy.py:98:52: E203 whitespace before ':'
    '1110'                                          : 'RESERVED',               # e000::/4
                                                   ^
theHarvester/discovery/IPy.py:99:52: E203 whitespace before ':'
    '11110'                                         : 'RESERVED',               # f000::/5
                                                   ^
theHarvester/discovery/IPy.py:100:52: E203 whitespace before ':'
    '111110'                                        : 'RESERVED',               # f800::/6
                                                   ^
theHarvester/discovery/IPy.py:101:52: E203 whitespace before ':'
    '1111110'                                       : 'ULA',                    # fc00::/7 [RFC4193]
                                                   ^
theHarvester/discovery/IPy.py:102:52: E203 whitespace before ':'
    '111111100'                                     : 'RESERVED',               # fe00::/9
                                                   ^
theHarvester/discovery/IPy.py:103:52: E203 whitespace before ':'
    '1111111010'                                    : 'LINKLOCAL',              # fe80::/10
                                                   ^
theHarvester/discovery/IPy.py:104:52: E203 whitespace before ':'
    '1111111011'                                    : 'RESERVED',               # fec0::/10 Formerly SITELOCAL [RFC4291]
                                                   ^
theHarvester/discovery/IPy.py:105:52: E203 whitespace before ':'
    '11111111'                                      : 'MULTICAST',              # ff00::/8
                                                   ^
theHarvester/discovery/IPy.py:106:52: E203 whitespace before ':'
    '1111111100000001'                              : 'NODE-LOCAL MULTICAST',   # ff01::/16
                                                   ^
theHarvester/discovery/IPy.py:107:52: E203 whitespace before ':'
    '1111111100000010'                              : 'LINK-LOCAL MULTICAST',   # ff02::/16
                                                   ^
theHarvester/discovery/IPy.py:108:52: E203 whitespace before ':'
    '1111111100000100'                              : 'ADMIN-LOCAL MULTICAST',  # ff04::/16
                                                   ^
theHarvester/discovery/IPy.py:109:52: E203 whitespace before ':'
    '1111111100000101'                              : 'SITE-LOCAL MULTICAST',   # ff05::/16
                                                   ^
theHarvester/discovery/IPy.py:110:52: E203 whitespace before ':'
    '1111111100001000'                              : 'ORG-LOCAL MULTICAST',    # ff08::/16
                                                   ^
theHarvester/discovery/IPy.py:111:52: E203 whitespace before ':'
    '1111111100001110'                              : 'GLOBAL MULTICAST',       # ff0e::/16
                                                   ^
theHarvester/discovery/IPy.py:112:52: E203 whitespace before ':'
    '1111111100001111'                              : 'RESERVED MULTICAST',     # ff0f::/16
                                                   ^
theHarvester/discovery/IPy.py:113:52: E203 whitespace before ':'
    '111111110011'                                  : 'PREFIX-BASED MULTICAST', # ff30::/12 [RFC3306]
                                                   ^
theHarvester/discovery/IPy.py:113:80: E261 at least two spaces before inline comment
    '111111110011'                                  : 'PREFIX-BASED MULTICAST', # ff30::/12 [RFC3306]
                                                                               ^
theHarvester/discovery/IPy.py:114:52: E203 whitespace before ':'
    '111111110111'                                  : 'RP-EMBEDDED MULTICAST',  # ff70::/12 [RFC3956]
                                                   ^
theHarvester/discovery/IPy.py:115:5: E123 closing bracket does not match indentation of opening bracket's line
    }
    ^
theHarvester/discovery/IPy.py:119:14: E221 multiple spaces before operator
IPV6_TEST_MAP    = 0xffffffffffffffffffffffff00000000
             ^
theHarvester/discovery/IPy.py:120:14: E221 multiple spaces before operator
IPV6_MAP_MASK    = 0x00000000000000000000ffff00000000
             ^
theHarvester/discovery/IPy.py:221:40: E226 missing whitespace around arithmetic operator
                if IP('%s/%s' % (ip, 32-netbits)).broadcast().int() != last:
                                       ^
theHarvester/discovery/IPy.py:258:13: E128 continuation line under-indented for visual indent
            self._prefixlen, self._ipversion):
            ^
theHarvester/discovery/IPy.py:320:17: E711 comparison to None should be 'if cond is None:'
        if want == None:
                ^
theHarvester/discovery/IPy.py:322:21: E711 comparison to None should be 'if cond is None:'
            if want == None:
                    ^
theHarvester/discovery/IPy.py:346:35: E251 unexpected spaces around keyword / parameter equals
    def strBin(self, wantprefixlen = None):
                                  ^
theHarvester/discovery/IPy.py:346:37: E251 unexpected spaces around keyword / parameter equals
    def strBin(self, wantprefixlen = None):
                                    ^
theHarvester/discovery/IPy.py:356:31: E711 comparison to None should be 'if cond is None:'
        if self.WantPrefixLen == None and wantprefixlen == None:
                              ^
theHarvester/discovery/IPy.py:359:15: E271 multiple spaces after keyword
        return  '0' * (bits - len(ret)) + ret + self._printPrefix(wantprefixlen)
              ^
theHarvester/discovery/IPy.py:361:42: E251 unexpected spaces around keyword / parameter equals
    def strCompressed(self, wantprefixlen = None):
                                         ^
theHarvester/discovery/IPy.py:361:44: E251 unexpected spaces around keyword / parameter equals
    def strCompressed(self, wantprefixlen = None):
                                           ^
theHarvester/discovery/IPy.py:372:31: E711 comparison to None should be 'if cond is None:'
        if self.WantPrefixLen == None and wantprefixlen == None:
                              ^
theHarvester/discovery/IPy.py:406:38: E251 unexpected spaces around keyword / parameter equals
    def strNormal(self, wantprefixlen = None):
                                     ^
theHarvester/discovery/IPy.py:406:40: E251 unexpected spaces around keyword / parameter equals
    def strNormal(self, wantprefixlen = None):
                                       ^
theHarvester/discovery/IPy.py:415:31: E711 comparison to None should be 'if cond is None:'
        if self.WantPrefixLen == None and wantprefixlen == None:
                              ^
theHarvester/discovery/IPy.py:427:40: E251 unexpected spaces around keyword / parameter equals
    def strFullsize(self, wantprefixlen = None):
                                       ^
theHarvester/discovery/IPy.py:427:42: E251 unexpected spaces around keyword / parameter equals
    def strFullsize(self, wantprefixlen = None):
                                         ^
theHarvester/discovery/IPy.py:436:31: E711 comparison to None should be 'if cond is None:'
        if self.WantPrefixLen == None and wantprefixlen == None:
                              ^
theHarvester/discovery/IPy.py:441:35: E251 unexpected spaces around keyword / parameter equals
    def strHex(self, wantprefixlen = None):
                                  ^
theHarvester/discovery/IPy.py:441:37: E251 unexpected spaces around keyword / parameter equals
    def strHex(self, wantprefixlen = None):
                                    ^
theHarvester/discovery/IPy.py:450:31: E711 comparison to None should be 'if cond is None:'
        if self.WantPrefixLen == None and wantprefixlen == None:
                              ^
theHarvester/discovery/IPy.py:456:35: E251 unexpected spaces around keyword / parameter equals
    def strDec(self, wantprefixlen = None):
                                  ^
theHarvester/discovery/IPy.py:456:37: E251 unexpected spaces around keyword / parameter equals
    def strDec(self, wantprefixlen = None):
                                    ^
theHarvester/discovery/IPy.py:465:31: E711 comparison to None should be 'if cond is None:'
        if self.WantPrefixLen == None and wantprefixlen == None:
                              ^
theHarvester/discovery/IPy.py:504:5: E303 too many blank lines (2)
    def netmask(self):
    ^
theHarvester/discovery/IPy.py:518:5: E303 too many blank lines (2)
    def strNetmask(self):
    ^
theHarvester/discovery/IPy.py:550:5: E303 too many blank lines (2)
    def __nonzero__(self):
    ^
theHarvester/discovery/IPy.py:630:5: E303 too many blank lines (3)
    def __contains__(self, item):
    ^
theHarvester/discovery/IPy.py:657:5: E303 too many blank lines (2)
    def overlaps(self, item):
    ^
theHarvester/discovery/IPy.py:683:5: E303 too many blank lines (2)
    def __str__(self):
    ^
theHarvester/discovery/IPy.py:691:5: E303 too many blank lines (2)
    def __repr__(self):
    ^
theHarvester/discovery/IPy.py:829:39: E226 missing whitespace around arithmetic operator
            ipv4 = '%s/%s' % (ipv4, 32-(128-self._prefixlen))
                                      ^
theHarvester/discovery/IPy.py:829:44: E226 missing whitespace around arithmetic operator
            ipv4 = '%s/%s' % (ipv4, 32-(128-self._prefixlen))
                                           ^
theHarvester/discovery/IPy.py:909:44: E226 missing whitespace around arithmetic operator
                nibblepart = "%s-%s" % (s[3-(self._prefixlen // 8)], intToIp(self.ip + self.len() - 1, 4).split('.')[-1])
                                           ^
theHarvester/discovery/IPy.py:1010:52: W504 line break after binary operator
            return IP(str(IPV6_MAP_MASK + self.ip) +
                                                   ^
theHarvester/discovery/IPy.py:1011:27: E127 continuation line over-indented for visual indent
                          "/%s" % (self._prefixlen + 96))
                          ^
theHarvester/discovery/IPy.py:1014:56: W504 line break after binary operator
                return IP(str(self.ip - IPV6_MAP_MASK) +
                                                       ^
theHarvester/discovery/IPy.py:1019:1: E302 expected 2 blank lines, found 1
class IPSet(collections.MutableSet):
^
theHarvester/discovery/IPy.py:1037:13: E265 block comment should start with '# '
            #Don't dig through more-specific ranges
            ^
theHarvester/discovery/IPy.py:1068:13: E741 ambiguous variable name 'l'
            l = next(left)
            ^
theHarvester/discovery/IPy.py:1075:21: E741 ambiguous variable name 'l'
                    l = next(left)
                    ^
theHarvester/discovery/IPy.py:1082:21: E741 ambiguous variable name 'l'
                    l = next(left)
                    ^
theHarvester/discovery/IPy.py:1140:38: E226 missing whitespace around arithmetic operator
                    self.prefixes[i:i+1] = self.prefixes[i] - del_prefix
                                     ^
theHarvester/discovery/IPy.py:1149:13: E741 ambiguous variable name 'l'
            l = next(left)
            ^
theHarvester/discovery/IPy.py:1155:21: E741 ambiguous variable name 'l'
                    l = next(left)
                    ^
theHarvester/discovery/IPy.py:1171:18: E226 missing whitespace around arithmetic operator
            j = i+1
                 ^
theHarvester/discovery/IPy.py:1195:30: E226 missing whitespace around arithmetic operator
            while i < addrlen-1:
                             ^
theHarvester/discovery/IPy.py:1218:1: E302 expected 2 blank lines, found 1
def _parseAddressIPv6(ipstr):
^
theHarvester/discovery/IPy.py:1290:28: E226 missing whitespace around arithmetic operator
            if text[pos:pos+2] == "::":
                           ^
theHarvester/discovery/IPy.py:1293:29: E226 missing whitespace around arithmetic operator
                index += pos+1
                            ^
theHarvester/discovery/IPy.py:1304:66: E226 missing whitespace around arithmetic operator
        if (fill_pos is not None) and not (fill_pos <= len(items)-1):
                                                                 ^
theHarvester/discovery/IPy.py:1316:41: E226 missing whitespace around arithmetic operator
        items = items[:fill_pos] + ['0']*diff + items[fill_pos:]
                                        ^
theHarvester/discovery/IPy.py:1338:1: E302 expected 2 blank lines, found 1
def parseAddress(ipstr, ipversion=0):
^
theHarvester/discovery/IPy.py:1453:9: E741 ambiguous variable name 'l'
        l = "%032x" % ip
        ^
theHarvester/discovery/IPy.py:1464:1: E302 expected 2 blank lines, found 1
def _ipVersionToLen(version):
^
theHarvester/discovery/IPy.py:1498:13: E128 continuation line under-indented for visual indent
            '4': '0100', '5': '0101', '6': '0110', '7': '0111',
            ^
theHarvester/discovery/IPy.py:1499:13: E128 continuation line under-indented for visual indent
            '8': '1000', '9': '1001', 'a': '1010', 'b': '1011',
            ^
theHarvester/discovery/IPy.py:1500:13: E128 continuation line under-indented for visual indent
            'c': '1100', 'd': '1101', 'e': '1110', 'f': '1111'}
            ^
theHarvester/discovery/IPy.py:1502:1: E302 expected 2 blank lines, found 1
def _intToBin(val):
^
theHarvester/discovery/IPy.py:1516:1: E302 expected 2 blank lines, found 1
def _count1Bits(num):
^
theHarvester/discovery/IPy.py:1524:1: E302 expected 2 blank lines, found 1
def _count0Bits(num):
^
theHarvester/discovery/IPy.py:1566:15: E222 multiple spaces after operator
    if zbits <  bits - prefixlen:
              ^
theHarvester/discovery/IPy.py:1623:15: E227 missing whitespace around bitwise or shift operator
    return ((2<<prefixlen-1)-1) << (_ipVersionToLen(version) - prefixlen)
              ^
theHarvester/discovery/IPy.py:1623:26: E226 missing whitespace around arithmetic operator
    return ((2<<prefixlen-1)-1) << (_ipVersionToLen(version) - prefixlen)
                         ^
theHarvester/discovery/IPy.py:1623:29: E226 missing whitespace around arithmetic operator
    return ((2<<prefixlen-1)-1) << (_ipVersionToLen(version) - prefixlen)
                            ^
2     E123 closing bracket does not match indentation of opening bracket's line
1     E127 continuation line over-indented for visual indent
4     E128 continuation line under-indented for visual indent
80    E203 whitespace before ':'
2     E221 multiple spaces before operator
1     E222 multiple spaces after operator
13    E226 missing whitespace around arithmetic operator
1     E227 missing whitespace around bitwise or shift operator
8     E241 multiple spaces after ':'
12    E251 unexpected spaces around keyword / parameter equals
4     E261 at least two spaces before inline comment
1     E262 inline comment should start with '# '
1     E265 block comment should start with '# '
1     E271 multiple spaces after keyword
7     E302 expected 2 blank lines, found 1
7     E303 too many blank lines (2)
8     E711 comparison to None should be 'if cond is None:'
6     E741 ambiguous variable name 'l'
2     W504 line break after binary operator
```

This is much more likely to get action for me if it comes with a patchset.